.price-panel {
    background-color: $medium-gray;
    padding: rem-calc(30);
    .price {
        font-size: rem-calc(36);
        font-weight: $global-weight-bold;
        padding-bottom: rem-calc(30);
        border-bottom: 1px solid $dark-gray;
        margin-bottom: rem-calc(30);
        span {
            vertical-align: baseline;
            font-size: rem-calc(18);
        }
    }
    .text {
        font-size: rem-calc(16);
    }
}

.price-info {
    font-size: rem-calc(16);
}

.price-table {
    font-size: rem-calc(16);
    tr {
        td {
            width: 50%;
            text-align: center;
            &:last-child {
                font-weight: $global-weight-bold;
            }
        }
    }
}